<footer class="site-footer" style="text-align: center;">
  <p class="powered-by">
    {{ with site.Params.footer.copyright.notice }}
      {{ replace . "{year}" now.Year | safeHTML }}
    {{ end }}
    <br>
    <span style="font-size: 0.9em; color: #6c757d;">
      {{ $lastMod := now }}
      {{ range site.RegularPages }}
        {{ if .GitInfo }}
          {{ if gt .GitInfo.AuthorDate.Unix $lastMod.Unix }}
            {{ $lastMod = .GitInfo.AuthorDate }}
          {{ end }}
        {{ end }}
      {{ end }}
      Last updated: {{ $lastMod.Format "January 2, 2006" }}
    </span>
  </p>
</footer>